<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>Addisyn</string>
		<string>Adah</string>
		<string>Adalia</string>
		<string>Adamina</string>
		<string>Amily</string>
	</array>
	<array>
		<string>Baber</string>
		<string>Baldie</string>
		<string>Babur</string>
		<string>Bachelor</string>
		<string>Baker</string>
		<string>Baal</string>
		<string>Balaam</string>
	</array>
	<array>
		<string>Callie</string>
		<string>Carole</string>
		<string>Carmelita</string>
		<string>Camilla</string>
		<string>Candace</string>
		<string>Candida</string>
		<string>Carlton</string>
	</array>
	<array>
		<string>Dagmar</string>
		<string>Dahlia</string>
		<string>Damaris</string>
		<string>Darleen</string>
	</array>
	<array>
		<string>Eda</string>
		<string>Eleanore</string>
		<string>Elfreda</string>
		<string>Elin</string>
		<string>Elaine</string>
		<string>Elisabeth</string>
		<string>Elise</string>
	</array>
</array>
</plist>
